# GNU global tags
GTAGS
GRTAGS
GSYMS
GPATH

# editor backup files
*~
\#*\#

# ROSCH
*.[ao]
*.so
*.so.*
*.order
*.symvers
*.mod.c
*.lib
*.ko
*.cmd
.tmp_versions
ROSCH.config
ROSCH.creator
ROSCH.creator.user
ROSCH.files
ROSCH.includes